.details{
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}
.leftColumn {
    width: 46%;
    position: relative;
}
.leftColumn img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* opacity: 0; */
    transition: all 0.3s ease;
    border-radius: 10px;
}
.rightColumn {
    width: 46%;
    margin: 0 3rem;
}
.productDescription {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
.productDescription span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.productDescription h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}
.productDescription p, .ingredients p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}
.ingredients {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
.ingredientssec, .flavour{
    margin: 20px 0;
}
.ingredientssec button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
}
.ingredientssec button:hover,
.ingredientssec button:active,
.ingredientssec button:focus {
  border: 2px solid #86939E;
  outline: none;
}